@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$deg: 5deg;
$rotSpeed: 0.04s;
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#mainHeading {
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.smallHeadings {
  color: #F74600;;
  font-weight: bold;
  font-size: 1.3em;
  font-family: "Courier New", Courier, monospace;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  //text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    -webkit-transform:scale(1.2);
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
	-webkit-transition-duration: $rotSpeed;
	-moz-transition-duration: $rotSpeed;
	-o-transition-duration: $rotSpeed;
	transition-duration: $rotSpeed;
	
  }
  &:click {
	text-decoration: none;
  }
}

.mainNavBar {
	background-color: #191919;
}


html, body {
    margin: 0;
    padding: 0;
}

.top-buffer { 
	margin-top:10px; 
	margin-left:50px;
	font-size: 3em;
	font-family: "Times New Roman", Times, serif;
	float: top;
}

/* Central panel */
#centerPanel {
	margin-top: 100px;
	margin-bottom: 200px;
	padding-bottom: 200px;
}


/* Footer */


footer {

  margin-top: 130px;
  padding-top: 5px;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* Images */

.circular {
	margin-bottom: 20px;
	width: 210px;
	height: 210px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://i.imgur.com/Oq7708K.jpg?2) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}
	


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
